<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="../assets/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="security-app">
        <div class="contaiiner-fluid">
            <div class="row mx-1">
                <div class="col-md-7">
                    <img src="../assets/images/login-left-img.jpg" class="w-100 full-hyt">
                </div>
                <div class="col-md-5 pos-rel">
                    <h4 class="log-title text-center py-3">Registration</h4>
                    <div class="registration-card">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                        <h4 class="registration-header">Head Of The Family</h4>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <form class="registration-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">First Name</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Last Name</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Gender</label>
                                                        <select class="form-select">
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">DOB</label>
                                                        <input class="form-control" type="date" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Email Address</label>
                                                        <input class="form-control" type="email" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Mobile number</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Resident Type</label>
                                                        <select class="form-select">
                                                            <option>Own</option>
                                                            <option>Tenent</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Block No</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Flat No</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Carpet Area</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Inviite Code</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Blood Group</label>
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Password</label>
                                                        <input class="form-control" type="password" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Confirm Password</label>
                                                        <input class="form-control" type="password" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="userName">Upload Photo</label>
                                                        <input class="form-control" type="file" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 align-self-center">
                                                    <div class="form-group mb-0">
                                                        <p class="mb-0"><strong>Note:</strong> minimum characters 8 along with capital & lowercase and
                                                            any special
                                                            characters.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="registration-header">Emergency Contact Details</h4>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userName">First Name</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userName">Last Name</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userName">Contact No</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userName">Email Address</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="userName">Address Line 1</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="userName">Address Line 2</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userName">City</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userName">State</label>
                                                    <select class="form-select">
                                                        <option>Telangana</option>
                                                        <option>Andhra Pradesh</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userName">Zipcode</label>
                                                    <input class="form-control" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userName">Country</label>
                                                    <select class="form-select">
                                                        <option>India</option>
                                                        <option>USA</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button class="btn btn-primary">Submit</button>
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="primary-font-color text-center mt-4">
                        <p class="my-2">Or</p>
                        <p class="mb-0">Already you have an account ? <a href="./login.html">Sign In</a></p>
                    </div>
                </div>
                <!-- login screen end-->
            </div>
        </div>
    </div>
    </div>
</body>

</html>